.bg{
	background-color: skyblue;
}

.menu{
	background-color: black;
}

.list li a{
	font-size: 17px;
	color:white;
}

.list li a:hover{
	color:skyblue;
}

.list li a.active{
	color:skyblue;
}

.list .box{
	background-color:grey;
	color:white;
	border-radius:50px; 
	text-align: center;
	margin-left: 4px;
	padding:8px 15px 8px 15px;
}

.btn-form{
	width:200px;
margin-left:14px;
}